<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <h1 class="Login">Login</h1>
    <form id="loginForm" action="/login" method="POST">
      <div>
        <label class="small mb-1" for="username">Username</label><br />
        <input
        class="form-conntol py-4"
          type="text"
          id="username"
          name="username"
          placeholder="Enter Username"
        />
      </div>
      <div>
        <label class="small mb-1" for="password">Password</label><br />
        <input
        class="form-conntol py-4"
          type="password"
          id="password"
          name="password"
          style="-webkit-text-security: square"
          placeholder="Enter Password"
        />
      </div>

      <div class="button">
        <button class="btn-hover color-9" type="submit">Log in</button>
      </div>

    </form>
  </div>
</div>
